.log {
  /* transform: rotate(180deg); */
  /* position: absolute; */
  /* width: 1000px; */
  /* height: 900px; */
  /* right: 525px;  */
  /* margin-right: 500px; */

  /* background-color: red; */
  /* margin-right: 400px; */
  text-align: center;
  /* background: url(store.png);  */
}
.Home_Login {
  display: flex;
  flex-direction: column;
  /* margin-top: 90px; */

  /* margin: 50,100,50; */
}
.kwaco {
  color: #2c358d;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}
.groupPhoto {
  width: 100%;
  text-align: center;
  /* background-color: blue; */
  /* margin-left: 150px; */
}
.Kivu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 70px;
text-align: center;
  color: #00a44b;
}
.PhoneNumber {
  width: 500px;
  height: 40px;
  left: 1164px;
  top: 576px;

  background: #f8f8f8;
  border-radius: 40px;
  margin-top: 20px;
}
.site-form-item-icon {
}

.Password {
  width: 500px;
  height: 40px;
  left: 1164px;
  top: 639px;
  margin-top: 20px;

  background: #f8f8f8;
  border-radius: 40px;
}

.submit {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #26AAE1;
  border-color:#26AAE1 ;
  border-radius: 50px;
}
.words {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-top: 20px;
  /* margin-bottom: ; */
}
.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
